* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', 'serif';
    background: linear-gradient(to right, #0d0c0b, #0e2c20);
}


.hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50vh;
    padding: clamp(4rem, 6vh, 8rem) clamp(2vw, 12vw, 22rem);
}

.hero-img {
    max-width: 400px;
    border-radius: 12px;
}

.hero-overlay {
    background-color: transparent;
    padding: 4rem;
    z-index: 2;
    text-wrap: wrap;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    max-width: 37vw;
    max-height: 100%;
    animation: fade-up 1s ease-in-out;
}


.hero-overlay h1 {
    font-size: clamp(1rem, 4vw, 64px);
    color: lightgreen;
}

.hero-overlay p {
    font-size: clamp(1rem, 1vw, 2rem);
    line-height: 30px;
    margin: 1.5rem 0; 
}

.hero-icon-container {
    float: left;
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.hero-icon {
    width: 32px;
    filter: invert();
}

.work-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: clamp(4rem, 4vh, 8rem) clamp(2vw, 12vw, 22rem);
    animation: fade-up 1s ease-in-out;
}

.work-title {
    text-align: center;
    font-size: clamp(2rem, 3vw, 54px);
    color: lightgreen;
    margin: 10vh 0;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
}

.project-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-img-container {
    max-width: 100%;
    height: 400px;
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-desc-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "title icons"
    "desc desc";
    padding: 2rem;
    gap: 20px;
}

.project-icon {
    width: 24px;
    filter: invert();
}

.project-name {
    grid-area: title;
}

.project-desc {
    grid-area: desc;
}

.project-icon-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    grid-area: icons;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    color: white;
    padding: clamp(4rem, 4vh, 8rem) clamp(2vw, 12vw, 22rem);
    margin-top: 10vh;
}

.contact-info-container svg {
    width: 24px;
    color: lightgreen;
}

.contact-info-container h1 {
    font-size: clamp(1rem, 2.5vw, 54px);
    color: lightgreen;
}

.contact-info-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 2rem;
    animation: fade-up 1s ease-in-out;
}

.footer-img {
    max-width: 400px;
    border-radius: 12px;
}

.email, .phone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-icon-container {
    display: flex;
    gap: 20px;
}

.footer-icon {
    width: 32px;
    filter: invert();
}

.grow {
    transition: transform 0.4s ease;
}

.grow:hover {
    transform: scale(1.3);
}

@keyframes fade-up {
    from {
        transform: translateY(20%);
        opacity: 0%;
    }
    to {
        transform: translateY(0);
        opacity: 100%;
    }
}



@media (max-width: 600px) {
    .hero-wrapper {
        flex-direction: column;
        padding: 2rem 0 0 0;
        max-height: none;
    }

    .hero-img {
        max-width: 60%;
        border-radius: 12px;
    }

    .hero-img-container {
        display: flex;
        justify-content: center;
        padding: 0;
        width: 100%;
    }

    .hero-overlay {
        background-color: transparent;
        padding: 2rem 4rem;
        z-index: 2;
        text-wrap: wrap;
        border-radius: 12px;
        color: rgb(255, 255, 255);
        max-width: none;
        max-height: none;
        text-align: center;
    }


    .hero-overlay h1 {
        color: lightgreen;
        font-size: 38px;
    }

    .hero-overlay p {
        font-size: clamp(1rem, 1vw, 2rem);
        line-height: 30px;
        margin: 1.5rem 0; 
    }

    .hero-icon-container {
        float: none;
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 30px;
    }

    .hero-icon {
        width: 32px;
        filter: invert();
    }

    .work-container {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 2rem;
    }

    .work-title {
        text-align: center;
        font-size: 42px;
        color: lightgreen;
        margin: 10vh 0 5vh 0;
    }

    .projects-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 4rem;
    }

    .project-img-container {
        max-height: 200px;
    }

    footer {
        flex-direction: column;
        padding: 4rem 2rem 2rem 2rem;
        margin: 0;
        gap: 10px;
    }

    .contact-info-container h1 {
        font-size: 42px;
    }

    .contact-info-container {
        text-align: center;
    }

    .email, .phone {
        justify-content: center;
    }

    .footer-icon-container {
        justify-content: center;
    }

    .footer-img-container {
        padding: 2rem;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .footer-img {
        max-width: 80%;
    }

    .projects-container {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}
